input[type=text] {
    width: 20%;
    box-sizing: border-box;
    margin-left: .4em;
    margin-right: 1em;
    margin-bottom: 2em;
}
input[type=submit]{
    cursor: pointer;
    padding: 1px 30px;

}


#form {
    margin-top: 2em;
    margin-left: 3em;
}

#results {
    margin-top: .1em;
    margin-left: 3em;
    margin-bottom: 1em;
}

#title {
    margin-left: 1em;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#error {
    color: red;
}